
/**********Imported from Lecture 24 example **********/
* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Helvetica;
}
h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.75em
}

p {
  padding-top: 18px;
}

.itembox {
  border: 1px solid black;
  background-color: yellow;
  height: 260px;
  position: relative;
  color: black;
  padding-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  
}

.itemtitle {
  font-size: 1.25em;
  border: 1px solid black;
  text-align: center;
  background-color: #00ffff;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 90px;
}

.seconditem {
   background-color: #00f000;
}

.thirditem {
   background-color: #f00fff;
}


/* Borrowed from Simple Responsive Framework. */
.row {
  width: 100%;
  margin: 5px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 1px solid green;
    width: 32%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid red;
  }
  .col-md-6 {
    width: 49%;
  }
  .col-md-12 {
    width: 98.5%;
  }
}
/**********mobile devices**************/
@media (max-width: 767px) {
  .col-sd-12 {
    float: both;
    border: 1px solid blue;
    width: 100%;
  }
}
